body {
  font-family: "Fredoka", sans-serif;
  background-color: rgba(90, 30, 118, 1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./tic.tac.toe..png);
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: left bottom;
}
.board {
  background: rgba(43, 0, 64, 1);
  width: 500px;
  border-radius: 20px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}
.board__top {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
.board__item {
  width: 100%;
  height: 136px;
  background: rgba(72, 210, 254, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.board__title{
  display: flex;
  gap: 5px;
  
}
.board__item:nth-child(2) {
  background: rgba(188, 219, 249, 1);
}
.board__item:nth-child(3) {
  background: rgba(226, 190, 0, 1);
}
.board__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.board__name2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.board__span {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0%;
  margin-bottom: -10px;

}
.board__value {
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
}
.board__body {
  display: grid;
  grid-template-rows: repeat(3, 136px);
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.board__field {
  background: rgba(67, 17, 91, 1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 94px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 20px;
}
.x {
  color: rgba(72, 210, 254, 1);
}
.o {
  color: rgba(226, 190, 0, 1);
}
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.486);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  gap: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.modal__open {
  opacity: 1;
  visibility: visible;
}
.modal__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.modal__btn {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  background: rgba(244, 246, 245, 1);
  border-radius: 10px;
  padding: 20px 80px;
}
@media (max-width: 550px) {
  .board__name{
    opacity: 0;
    visibility: hidden;
  }
  .board__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -35px;
  }
  .board__span{
    font-weight: 1000;
    font-size: 30px;
  }
  .board{
    width: 100%;
    border-radius: 0px;
  }
}
